<!DOCTYPE html>
<html lang="en">

<body>
<head>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<br><br>
<div class="row justify-content-center">
  <div class="col-sm-12 text-left bg-white rounded shadow py-25">
      <div class="p-3 mb-2 bg-success text-white">
          <h5>Test List</h5>
      </div>
      <div class="card my-5">
        <div class="card-body">
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Diagnostic Centre</th>
              </tr>
            
            <tbody>
              <tr *ngFor="let test of tests">
                <td>{{ test.testId  }}</td>
                <td>{{ test.testName }}</td>
                <td>{{ test.testPrice }}</td>
                <td>{{ test.diagnosticCentre }}</td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      