<!DOCTYPE html>
<html lang="en">

<body>
<head>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<br><br>
<div class="row justify-content-center">
  <div class="col-sm-12 text-left bg-white rounded shadow py-13">
      <div class="p-3 mb-2 bg-success text-white">
          <h5>Remove Test</h5>
      </div>
      <div class="row">
          <div class="col-sm-12">
              <div class="card">
                  <div class="card-body">
                      <h3 class="card-title">Enter the Id of the Test</h3>
                      <input type='text' placeholder="Test Id"><br><br>
                      
                      
                      <a routerLink="/add-test" routerLinkActive="active-link">Remove</a><br>
                      <a routerLink="/add-test" routerLinkActive="active-link">Remove all test</a>
                  </div>
              </div>
          </div>

